* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

header {
    grid-area: header;
    padding: 1rem;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem;
}

.left {
    padding: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  flex-shrink: 0;
}

.profile-desc {
  margin-bottom: 16px;
}

.box {
    line-height: 1.7;
    padding: 1.5rem;
}

ul {
    padding-left: 1.5em;
}

th, td {
    text-align: left;
    padding: 0.5em 1em 0.5em 0;
    vertical-align: top;
}

footer {
    padding: 1rem;
}