body {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: stretch;
}

.container {
    background-color: #A3B18A;
}

header {
    background-color: #3A5A40;
    color: #FFFFFF;
    text-align: left;
    font-size: 1.5rem;
    font-family: "BBH Sans Bogle", sans-serif;
    letter-spacing: 3px;
}

.profile-name {
  font-weight: bold;
  font-size: 1.5em;
}

.profile-desc {
  font-size: 1.0em;
  text-align: justify;
}

.left, .right {
    background-color: #DAD7CD;
    color: #2E2031;
}

th {
  font-weight: bold;
}

tr {
  background: none;
}

footer {
    background-color: #3A5A40;
    color: #FFFFFF;
    text-align: left;
    font-size: small;
}