body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: stretch;
    background-color: #DAD7CD;

}

.container {
    background-color: white;
}

header {
    background-color: #588157;
    color: white;
    text-align: left;
    font-size: 1.5rem;
}

.left {
    background-color: #e8e8e8;
}

.mid {
    background-color: #efefef;
}

.right {
    background-color: #d0d0d0;
}

footer {
    background-color: #0078d7;
    color: white;
    text-align: center;
}